{% extends 'base.html' %}
{% block title %}
    <title>Home Page</title>
{% endblock %}
{% block content %}
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit quod amet, veritatis vel cum nesciunt harum! Voluptas, libero magni. Amet cum architecto aperiam repellendus laboriosam, consequatur praesentium vero animi expedita aspernatur suscipit molestiae ullam atque sed commodi tenetur obcaecati! Tempore, consectetur magni! Quaerat distinctio cupiditate soluta molestias dicta iusto sit!</p>
{% endblock %}